<h1 mat-dialog-title style="padding: 10px;">Edit user #{{data.account_number}}</h1>

<div mat-dialog-content style="height: 75%; padding-bottom: 0;">
  <form class="add-user-form" [formGroup]="editUserForm" autocomplete="off" (change)="change()">
    <h2>Information</h2>
    <mat-grid-list cols="20" rowHeight="80px" [gutterSize]="'25px'" class="dashboard">
      <mat-grid-tile colspan="12">
        <div class="row-control">
          <mat-form-field appearance="outline">
              <mat-label>Account number</mat-label>
              <mat-hint align="end"><b>Cannot change</b></mat-hint>
              <input matInput disabled [value]="data.account_number" matTooltip="You do not have permission to change ID">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="8">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter address">
              <mat-label>Address</mat-label>
              <input type="text" matInput placeholder="Address" formControlName="address" #address>
              <mat-error *ngIf="editUserForm.get('address')?.invalid">{{getErrorMessage('address') | titlecase}}</mat-error>
          </mat-form-field>
      </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="6" style="margin-left: 0.75%;">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter firstname">
            <mat-label>
              Firstname
            </mat-label>
            <input matInput placeholder="Firstname" formControlName="firstname" #firstname required>
            <mat-hint align="end">Required <b>*</b></mat-hint>
            <mat-error *ngIf="editUserForm.get('firstname')?.invalid">{{getErrorMessage('firstname') | titlecase}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" style="margin-left: -0.75%;">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter lastname">
            <mat-label>
              Lastname
            </mat-label>
            <input matInput placeholder="Lastname" formControlName="lastname" #lastname required>
            <mat-hint align="end">Required <b>*</b></mat-hint>
            <mat-error *ngIf="editUserForm.get('lastname')?.invalid">{{getErrorMessage('lastname') | titlecase}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="4" style="margin-left: 0.5%;">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter city">
              <mat-label>City</mat-label>
              <input type="text" matInput placeholder="City" formControlName="city" #city>
              <mat-error *ngIf="editUserForm.get('city')?.invalid">{{getErrorMessage('city') | titlecase}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" style="margin-left: -0.5%;">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter state">
              <mat-label>State</mat-label>
              <input type="text" matInput placeholder="State" formControlName="state" #state>
              <mat-error *ngIf="editUserForm.get('state')?.invalid">{{getErrorMessage('state') | titlecase}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="4" style="margin-left: 1%;">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter balance">
              <mat-label>
                Balance
              </mat-label>
              <input type="number" matInput placeholder="Balance" formControlName="balance" #balance required min="0">
              <mat-hint align="end">Required <b>*</b></mat-hint>
              <mat-error *ngIf="editUserForm.get('balance')?.invalid">{{getErrorMessage('balance') | titlecase}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" style="margin-left: -0.5%;">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter age">
              <mat-label>
                Age
              </mat-label>
              <input type="number" matInput placeholder="Age" formControlName="age" #age required min="16" max="80">
              <mat-hint align="end">Required <b>*</b></mat-hint>
              <mat-error *ngIf="editUserForm.get('age')?.invalid">{{getErrorMessage('age') | titlecase}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" style="margin-left: -1%;">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter gender">
              <mat-label>
                Gender
              </mat-label>
              <mat-select matInput placeholder="Gender" formControlName="gender" #gender required (selectionChange)="change()">
                <mat-option value="M">M</mat-option>
                <mat-option value="F">F</mat-option>
              </mat-select>
              <mat-hint align="end">Required <b>*</b></mat-hint>
              <mat-error *ngIf="editUserForm.get('gender')?.invalid">{{getErrorMessage('gender') | titlecase}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="8">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter employer">
              <mat-label>Employer</mat-label>
              <input type="text" matInput placeholder="Employer" formControlName="employer" #employer>
              <mat-error *ngIf="editUserForm.get('employer')?.invalid">{{getErrorMessage('employer') | titlecase}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="12">
        <div class="row-control">
          <mat-form-field appearance="outline" hintLabel="Enter email">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" formControlName="email" #email>
              <mat-error *ngIf="editUserForm.get('email')?.hasError">Incorrect email</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" style="margin-left: 0.5%;">
        <mat-checkbox [checked]="editUserForm.get('new')?.value" formControlName="new" style="margin-top: -24px;" color="primary" (change)="change()">Mark as new user</mat-checkbox>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

<div mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button style="visibility: none;"></button>
    <button mat-button [mat-dialog-close]="data" class="sign" color="primary" type="submit" [disabled]="editUserForm.invalid">Change</button>
</div>
