<h1>Account Management</h1>
<h2><a href="#">Home</a> > <a>Business</a></h2>
<hr class="custom-hr" />

<h2 class="title-data">User data</h2>
<hr />

<mat-stepper labelPosition="bottom" [orientation]="orientation" linear #stepper>
  <mat-step [completed]="chooseType">
    <ng-template matStepLabel>Create table</ng-template>
    <button mat-button (click)="goToStep(2)">By default</button>
    <button mat-button (click)="goToStep(1)">Customize</button>
  </mat-step>
  <mat-step optional [stepControl]="tableForm" errorMessage="Required">
    <ng-template matStepLabel>Customize table</ng-template>
    <form class="table-form" [formGroup]="tableForm" autocomplete="off">
      <mat-button-toggle-group formControlName="modeLoading" #modeLoading (change)="onValueChange($event.value)">
        <mat-button-toggle value="paging">Paging</mat-button-toggle>
        <mat-button-toggle value="scroll">Scroll</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field appearance="outline" hintLabel="Enter row">
        <mat-label>Default row</mat-label>
        <input matInput placeholder="Row" formControlName="row" #row required>
        <mat-error *ngIf="tableForm.get('row')?.invalid">Required!</mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="showLoading" color="primary">Show loading bar</mat-checkbox>
      <mat-form-field class="selectDisplay">
        <mat-label>Display</mat-label>
        <mat-select [formControl]="display" panelClass="display-panel" multiple [(value)]="onDisplayList">
          <mat-select-trigger>
            {{display.value?.[0] || '' |check |titlecase}}
            <span *ngIf="(display.value?.length || 0) > 1" class="example-additional-selection">
              (+{{(display.value?.length || 0) - 1}} {{display.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option class="selection-display" *ngFor="let item of displayList" [value]="item"
            [disabled]="item == 'firstname'" matTooltip="Name cannot be hide from the table" matTooltipPosition="left"
            matTooltipHideDelay="250" [matTooltipDisabled]="item != 'firstname'">
            {{item |check |titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="tableForm.invalid" matStepperNext>
        Next
      </button>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="resetAll()">Reset</button>
      <button mat-button (click)="createTable()" [disabled]="created">Create</button>
    </div>
  </mat-step>
</mat-stepper>

<ng-template [ngIf]="created">
<app-table-data
  [modeLoading]="tableForm.get('modeLoading')?.value"
  [row]="tableForm.get('row')?.value"
  [showLoading]="tableForm.get('showLoading')?.value"
  [displayCol]="onDisplayList"
>
</app-table-data>
</ng-template>
