<mat-drawer-container class="example-container" [hasBackdrop]="backdropNavigation" autosize>
  <mat-drawer class="navigationPane" #drawer [mode]="modeNavigation" [(opened)]="opened" (mouseleave)="mouseleave()">
    <h2 class="titleNav">A.M</h2>
    <hr />
    <mat-list>
      <div mat-subheader class="header-nav">Tools</div>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary"  (click)="goToPage('/dashboard')">
            <mat-icon>dashboard</mat-icon>
            <span class="text-nav" [ngStyle]="onDisplay('dashboard')">Dashboard</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/people')">
            <mat-icon>people</mat-icon>
            <span class="text-nav" [ngStyle]="onDisplay('people')">People</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/business')">
            <mat-icon>business</mat-icon>
            <span class="text-nav" [ngStyle]="onDisplay('business')">Business</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/statistics')">
            <mat-icon>bar_chart</mat-icon>
            <span class="text-nav" [ngStyle]="onDisplay('statistics')">Statistics</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/documents')">
            <mat-icon>folder_special</mat-icon>
            <span class="text-nav"  [ngStyle]="onDisplay('documents')">Documents</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/test-api')">
            <mat-icon>new_releases</mat-icon>
            <span class="text-nav"  [ngStyle]="onDisplay('test-api')">Test</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/test-inf-scroll')">
            <mat-icon>open_in_new</mat-icon>
            <span class="text-nav"  [ngStyle]="onDisplay('test-inf-scroll')">Table 2</span>
        </button>
      </mat-list-item>
      <div mat-subheader class="header-nav" *ngIf="isLoggedIn">User</div>
      <mat-list-item *ngIf="isLoggedIn">
        <button class="example-menu-item" mat-button color="primary" (click)="task()">
          <mat-icon>today</mat-icon>
          <span class="text-nav">Task</span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="isLoggedIn">
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/security')">
          <mat-icon>security</mat-icon>
          <span class="text-nav">Security</span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="isLoggedIn">
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/extension')">
          <mat-icon>extension</mat-icon>
          <span class="text-nav">Extension</span>
        </button>
      </mat-list-item>
      <div mat-subheader class="header-nav">Other</div>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/chat')">
            <mat-icon>forum</mat-icon>
            <span class="text-nav" [ngStyle]="onDisplay('chat')">Chat</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/help')">
            <mat-icon>live_help</mat-icon>
            <span class="text-nav" [ngStyle]="onDisplay('support')">Support</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item" mat-button color="primary" (click)="goToPage('/map')">
            <mat-icon>map</mat-icon>
            <span class="text-nav" [ngStyle]="onDisplay('support')">Map</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content [ngClass]="minimize()">
    <mat-toolbar class="TitleBar">
      <button mat-button (click)="drawer.toggle(); miniNavBar();" class="btn">
        <div class="container" (click)="openMenu()">
          <div class="bar1" [ngStyle]="bar1"></div>
          <div class="bar2" [ngStyle]="bar2"></div>
          <div class="bar3" [ngStyle]="bar3"></div>
        </div>
      </button>
      <div style="width: 27.5%;"></div>
      <h1 class="titleAM">Account Management</h1>
      <div class="log">
        <div *ngIf="!isLoggedIn">
          <button mat-button onclick="location.href = '/log-in';">
              <mat-icon>account_box</mat-icon>
              Log in
          </button>
        </div>
        <div *ngIf="isLoggedIn">
          <button mat-button [matMenuTriggerFor]="belowMenu">
            <mat-icon>account_box</mat-icon>
              {{userLoggedIn!.firstname}} {{userLoggedIn!.lastname}}
          </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="signOut()">Sign out</button>
            <button mat-menu-item (click)="viewUserDetails()">View user details</button>
          </mat-menu>
        </div>
      </div>
      <div class="home">
        <button mat-button onclick="location.href = '';">
            <mat-icon>home</mat-icon>
            Back to Home
        </button>
      </div>
    </mat-toolbar>
    <hr />
    <div id="content">
      <router-outlet></router-outlet>
    </div>
    <div class="customize">
      <button mat-button class="text-btn">Customize</button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<mat-drawer-container class="example-container-mini" *ngIf="notOpened && !backdropNavigation" autosize>
  <mat-drawer class="navigationPane-mini" #drawer [mode]="modeNavigation" [opened]="notOpened" (mouseenter)="mouseenter()">
    <h4 class="titleNav-mini">A</h4>
    <h4 class="titleNav-mini">M</h4>
    <hr />
    <mat-list>
      <div mat-subheader class="header-nav-mini">Tools</div>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>dashboard</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>people</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>business</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>bar_chart</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>folder_special</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>new_releases</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-list-item>
      <div mat-subheader class="header-nav-mini" *ngIf="isLoggedIn">User</div>
      <mat-list-item *ngIf="isLoggedIn">
        <button class="example-menu-item-mini" mat-button color="primary">
          <mat-icon>today</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="isLoggedIn">
        <button class="example-menu-item-mini" mat-button color="primary">
          <mat-icon>security</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="isLoggedIn">
        <button class="example-menu-item-mini" mat-button color="primary">
          <mat-icon>extension</mat-icon>
        </button>
      </mat-list-item>
      <div mat-subheader class="header-nav-mini">Other</div>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>forum</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>live_help</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="example-menu-item-mini" mat-button color="primary">
            <mat-icon>map</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
