<mat-sidenav-container class="example-container">
  <mat-sidenav class="navigationPane" #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <h2 class="titleNav">Account Management</h2>
    <hr />
    <mat-list>
      <mat-list-item>
        <button class="example-menu-item" mat-raised-button onclick="location.href = '';">
            <mat-icon>home</mat-icon>
            Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button
          class="example-menu-item" 
          mat-raised-button 
          (click)="openSnackBar('Hello!', 'Bye')" 
          aria-label="Show an example snack-bar"
        >
            <mat-icon>tag_faces</mat-icon>
            <span> Say hello! &nbsp;</span>
            <span [matBadge]="sayHelloTime" matBadgeColor="warn" *ngIf="sayHelloTime != 0">&nbsp;</span>
        </button>
      </mat-list-item>  
      <mat-list-item>
        <button class="example-menu-item" mat-raised-button>
            <mat-icon>help_ouline</mat-icon>
            Do something
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-list>
          <div mat-subheader>Folders</div>
            <mat-list-item *ngFor="let folder of folders; index as idx" (click)="openFolder(idx)">
              <mat-icon mat-list-icon *ngIf="!folder.open">folder</mat-icon>
              <mat-icon mat-list-icon *ngIf="folder.open">folder_open</mat-icon>
              <div mat-line>{{ folder.name }}</div>
              <div mat-line>{{ folder.create | date}}</div>
            </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="TitleBar">
      <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="titleAM">Account Management</h1>
      <div class="log">
        <button mat-button onclick="location.href = '/log-in';">
            <mat-icon>account_box</mat-icon>
            Log in
        </button>
      </div>
      <div class="home">
        <button mat-button onclick="location.href = '';">
            <mat-icon>home</mat-icon>
            Back to Home
        </button>
      </div>
    </mat-toolbar>
    <hr />
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>






