<div class="container">
	<form class="sign-in-form" [formGroup]="signInForm" autocomplete="off" (ngSubmit)="onSubmit()">
		<h2>Sign in</h2>
		<div class="row-control">
			<mat-form-field appearance="outline">
				<!--<mat-label>Username</mat-label>-->
				<input matInput placeholder="Username" formControlName="username">
			</mat-form-field>
				<pre>{{ signInForm.get("username")?.errors | json }}</pre>
		</div>
		<div class="row-control">
			<mat-form-field appearance="outline">
				<!--<mat-label>Password</mat-label>-->
				<input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <pre>{{ signInForm.get("password")?.errors | json }}</pre>
		</div>
		<div class="row-control">
			<mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
		</div>
		<div>
			<button class="sign" mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid" (click)="comeback()">
        Sign in
      </button>
		</div>
		<pre>{{ signInForm.value | json }}</pre>
	</form>
</div>
