  
.space {
  height: 15%;
}

h1, h2 {
  color: blue;
  font-family: 'Fauna One', serif;
  text-align: center;
}
  
.row-control {
  width: 95%;
  margin: 0 auto;
}
  
mat-form-field {
  width: 100%;
  margin: 10px auto;
}

h1 {
  padding: 30px;
}

  