
<h1>Account Management</h1>
<h2><a href="#">Home</a> > <a>Test</a></h2>
<hr class="custom-hr"/>

<h2 class="title-data">User data</h2> {{userTotal | json}} of Total
<hr />

<mat-form-field class="selectDisplay">
  <mat-label>Display</mat-label>
  <mat-select [formControl]="display" panelClass="display-panel" multiple [(value)]="onDisplayList" (selectionChange)="refreshDisplayColumns()">
    <mat-select-trigger>
      {{display.value?.[0] || '' |check |titlecase}}
      <span *ngIf="(display.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(display.value?.length || 0) - 1}} {{display.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option class="selection-display"
      *ngFor="let item of displayList"
      [value]="item"
      [disabled]="item == 'firstname'"
      matTooltip="Name cannot be hide from the table"
      matTooltipPosition="left"
      matTooltipHideDelay="250"
      [matTooltipDisabled]="item != 'firstname'"
    >
      {{item |check |titlecase }}
    </mat-option>
  </mat-select>
</mat-form-field>

<section>
  <div class="example-label">Feature</div>
  <div class="example-button-row">
      Filter: <input [(ngModel)]="filterContent" (input)="filter_all()" /> 
      Filter ID: <input [(ngModel)]="filterID" (input)="filter_ID()" /> 
      <button mat-button (click)="addUser()">>Add user</button>
      Delete user <input [(ngModel)]="selectUser"/><button mat-button (click)="deleteUser()">Delete user</button>
  </div>
</section>

<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="account_number" sticky *ngIf="displayedColumns.includes('account_number')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by id" matTooltipPosition="above" (click)="sort('account_number')"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.account_number}} </td>
    </ng-container>
  
    <ng-container matColumnDef="balance"  *ngIf="displayedColumns.includes('balance')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by Balance" matTooltipPosition="above" (click)="sort('balance')"> Balance </th>
      <td mat-cell *matCellDef="let element"> {{element.balance | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="firstname" sticky *ngIf="displayedColumns.includes('firstname')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by Name" matTooltipPosition="above" (click)="sort('name')"> Name </th>
      <td mat-cell *matCellDef="let element">
        <span
          
          (click)="editUser(element.account_number)"
          matTooltip="View User details"
        >
          {{element.firstname}} {{element.lastname}}
        </span>
        <mat-chip *ngIf="element.new" class="newChipUser">new</mat-chip>
      </td>
    </ng-container>

    <ng-container matColumnDef="age" *ngIf="displayedColumns.includes('age')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by Age" matTooltipPosition="above" (click)="sort('age')"> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="gender" *ngIf="displayedColumns.includes('gender')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by Gender" matTooltipPosition="above" (click)="sort('gender')"> Gender </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
          <mat-chip [ngStyle]="styleGender(element)" class="chipGender">
            {{element.gender | gender }}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="address" *ngIf="displayedColumns.includes('address')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by Address" matTooltipPosition="above" (click)="sort('address')"> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address | noValue}} </td>
    </ng-container>

    <ng-container matColumnDef="employer" *ngIf="displayedColumns.includes('employer')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by employer" matTooltipPosition="above" (click)="sort('employer')"> Employer </th>
      <td mat-cell *matCellDef="let element"> {{element.employer | noValue}} </td>
    </ng-container>

    <ng-container matColumnDef="email" *ngIf="displayedColumns.includes('email')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by email" matTooltipPosition="above" (click)="sort('email')"> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email | noValue}} </td>
    </ng-container>

    <ng-container matColumnDef="city" *ngIf="displayedColumns.includes('city')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by city" matTooltipPosition="above" (click)="sort('city')"> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city | noValue}} </td>
    </ng-container>

    <ng-container matColumnDef="state" *ngIf="displayedColumns.includes('state')" (click)="sort('state')">
      <th mat-header-cell *matHeaderCellDef matTooltip="Sort by state" matTooltipPosition="above"> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state | noValue}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<section>
  <div class="example-label">Feature</div>
  <div class="example-button-row">
      Go to Page: <input [(ngModel)]="currentPage" (input)="changePage()" /> / {{maxPage}}
      <button mat-button (click)="more()">>Change display row</button>
      <button mat-button color="warn" (click)="currentPage=1; changePage();">First Page</button>
      <button mat-button color="warn" (click)="prePage()">Previous Page</button>
      <button mat-button color="accent" (click)="nextPage()">Next Page</button>
      <button mat-button color="accent" (click)="currentPage=maxPage; changePage();">Last Page</button>
  </div>
</section>