table {
  font-size: 20px;
  text-align: center;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 25%;
}

th td {
  padding: 50px;
}

h3 {
  text-align: center;
  font-family: 'Fauna One', serif;
} 

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.progress {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
}
