<h1>Account Management</h1>
<h2><a href="#">Home</a> > <a>People</a></h2>

<hr class="custom-hr"/>

<a href="https://stackoverflow.com/questions/48916431/overlapping-overlaying-multiple-inline-images">Image display</a>
<br />
<a href="https://www.youtube.com/watch?v=tihuf0iuUhI&themeRefresh=1">Multiple image slider</a>
<br />
<a href="https://stackoverflow.com/questions/44215417/multi-item-responsive-carousel-for-angular-material">SO: Slider image</a>
<br />
<a href="https://github.com/revolunet/angular-carousel">Angular carousel</a>
<br />
<a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto">Automatic Slideshow</a>