<h3>User data</h3>

<hr />

<div class="dataTable">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Balance</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
    <tr>
      <td><input type="text" class="search" [(ngModel)]="filterUserPro.account_number" (change)="filterUser(1)"/></td>
      <td><input type="text" class="search" [(ngModel)]="filterBalance" (change)="filterUser(2)" /></td>
      <td><input type="text" class="search" [(ngModel)]="filterName" (change)="filterUser(3)" /></td>
      <td><input type="text" class="search" [(ngModel)]="filterAge" (change)="filterUser(4)" /></td>
      <td><input type="text" class="search" [(ngModel)]="filterGender" (change)="filterUser(5)" /></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of UsersData; index as idx">
      <td>{{user.account_number}}</td>
      <td>{{user.balance}}</td>
      <td><a [routerLink]="user.account_number.toString()">{{user.firstname}} {{user.lastname}}</a></td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
    </tr>
  </tbody>
</table>
</div>


