
.sign:active:hover {
  color: aqua;
  opacity: 0.8;
}

.space {
  height: 15%;
}

.example-card {
  max-width: 400px;
  background-color: rgba(255, 239, 213, 0.541);
  margin: 50px auto;
}

.example-header-image {
  border: 1px solid black;
  background-image: url('../img/unknown_avatar.png');
  background-size: cover;
}

.card-head {
  margin: 20px 0 0 0;
}

h2 {
  color: blue;
  font-family: 'Fauna One', serif;
  text-align: center;
}

.row-control {
  width: 95%;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin: 10px auto;
}

.sign {
  margin: 10px auto;
  width: 50%;
  display: block;
}


.progress {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  background-color: white;
}

h1 {
  padding: 30px;
}

div.ifNone {
  text-align: center;
  font-size: xx-large;
  color: blue;
}
