<div class="loading-wallpaper" *ngIf="onLog">
  <div class="space"></div>
  <mat-spinner class="progress" [diameter]="175" strokeWidth="7.5"></mat-spinner>
  <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>
  <h1>Loading ...</h1>
</div>

<div *ngIf="!onLog">
  <div class="dark"></div>
<mat-card class="example-card">
  <mat-grid-list [cols]="breakpoint" rowHeight="550px" [gutterSize]="'20px'" class="list">
    <mat-grid-tile class="card-field">
      <div class="login-form">
        <hr />
      <mat-card-header class="card-head">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Guest</mat-card-title>
        <mat-card-subtitle>Guest permissions</mat-card-subtitle>
      </mat-card-header>
      <hr />
      <mat-card-content>
        <form class="sign-in-form" [formGroup]="logInForm" autocomplete="off">
          <h2>Log in</h2>
          <div class="row-control">
            <mat-form-field appearance="outline" hintLabel="Enter username">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="username" #username required [matAutocomplete]="auto" (input)="hint()">
              <mat-hint align="end">{{username.value.length || 0}}/20</mat-hint>
              <mat-error *ngIf="logInForm.get('username')?.invalid">{{getErrorMessage('username') | titlecase }}</mat-error>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of autocomplete" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="row-control">
            <mat-form-field appearance="outline" hintLabel="Enter password">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password" #password required>
              <mat-hint align="end">{{password.value.length || 0}}/20</mat-hint>
              <mat-error *ngIf="logInForm.get('password')?.invalid">{{getErrorMessage('password') | titlecase }}</mat-error>
            </mat-form-field>
              <mat-error *ngIf="logInForm.errors" style="text-align: center; margin-bottom: 5px;">Password must not contain username</mat-error>
          </div>
          <div class="row-control">
            <mat-checkbox formControlName="rememberMe" color="primary">Remember me</mat-checkbox>
          </div>
          <div class="submit-field">
            <span class="forgot"><a routerLink="/forgot-password">Forgot your password?</a></span>
            <div matTooltip="Please fill your information" [matTooltipDisabled]="!logInForm.invalid" matTooltipPosition="above" class="sign">
              <button class="sign" mat-raised-button color="primary" type="submit" [disabled]="logInForm.invalid" (click)="comeback()">
                Log in
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
      <hr />
      <mat-card-actions align="end" class="card-end">
        <button mat-raised-button color="primary" onclick="location.href = 'register';">Register</button>
        <button mat-raised-button color="primary" onclick="location.href = 'account_management';">Continue as Guest</button>
      </mat-card-actions>
      <hr />
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="bg" *ngIf="breakpoint==2">
      <div class="bg-login"></div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

</div>
