table {
  font-family: 'Fauna One', serif;
  font-size: 16px;
  margin: 32px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.feature {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

h2 {
  text-align: center;
  font-family: 'Fauna One', serif;
  font-size: x-large;
  color: royalblue;
  margin: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -2.5em;
  margin-top: -1.25em;
}

.user-feature {
  margin-top: 15px;
}


.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-top: solid 1.5px currentColor;
  border-bottom: solid 1.5px currentColor;
  font-style: italic;
  font-weight: bolder;
  background-color: #FFFACD;
}

.mat-form-field {
  font-size: 20px;
  width: 80%;
  margin: 30px auto;
  display: block;
}

.selectDisplay {
  font-size: 16px;
  width: 200px;
}

.example-container {
  position: relative;
  height: 450px;
  resize: vertical;
  overflow: auto;
  min-height: 350px;
  max-height: 600px;
}

.chipGender {
  max-width: 100px;
  justify-content: center;
  font-weight: bold;
}

.newChipUser {
  justify-content: center;
  font-weight: bold;
  background-color: #e6ccff;
  color: #9933ff;
}

.chipAction {
  max-width: 100px;
  color: currentColor;
  background-color: #f5f8fa;
  justify-content: center;
  //font-weight: bolder;
  border-radius: 10px;
  display: flex;
}

.chipAction:hover {
  color: #156fc4;
}

.filter {
  display: block;
}

.demo-row-is-clicked {
  font-weight: bold;
  background-color: #FAFAD2;
  border: none;
}

th {
  font-weight: bold;
  cursor: pointer;
}

th:hover {
  color: royalblue;
}

.display-panel.mat-select-panel {
  column-count: 2;
  column-width: 250px;

}

.selection-display{
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

::ng-deep .mat-option-pseudo-checkbox{
  display: inline-flex;
  margin-bottom: 40px;
}
