

<!--
<div *ngIf="users$ | async as users">
  <div *ngFor="let user of users">
    <div>{{user.account_number}}</div>
    <div>
      <p>{{user.firstname}}</p>
      <a [routerLink]="user.account_number.toString()">
        Xem {{user.lastname}}
      </a>
    </div>
  </div>
</div>
-->
<h3>User data</h3>


<hr />
<div style="overflow-x:auto" *ngIf="users$ | async as users else noData">
<div class="dataTable">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Balance</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
    <tr>
      <td><input type="text" class="search" [(ngModel)]="filterUser.account_number" /></td>
      <td><input type="text" class="search" [(ngModel)]="filterUser.balance" /></td>
      <td><input type="text" class="search" [(ngModel)]="filterUser.firstname" /></td>
      <td><input type="text" class="search" [(ngModel)]="filterUser.age" /></td>
      <td><input type="text" class="search" [(ngModel)]="filterUser.gender" /></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as idx">
      <td>{{user.account_number}}</td>
      <td>{{user.balance}}</td>
      <td><a [routerLink]="user.account_number.toString()">{{user.firstname}} {{user.lastname}}</a></td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>

<ng-template class="ifNone" #noData>
  <h3 class="loadingText">Loading ...</h3>
  <mat-progress-bar mode="indeterminate" class="progress"></mat-progress-bar>
</ng-template>
