<h2>User data</h2>

<hr />

<div class="feature">
  <div class="user-feature">
    <button mat-button [matMenuTriggerFor]="belowMenu1">
      <mat-icon>group_add</mat-icon>
      Add user
    </button>
    <mat-menu #belowMenu1="matMenu" yPosition="below">
      <button mat-menu-item (click)="openDialog('1000ms', '500ms')">Custom user</button>
      <button mat-menu-item (click)="addRandomUser()">Random user</button>
    </mat-menu>
  </div>
  <div class="user-feature">
    <button mat-button [matMenuTriggerFor]="belowMenu2">
      <mat-icon>delete</mat-icon>
      Delete user
    </button>
    <mat-menu #belowMenu2="matMenu" yPosition="below">
      <button mat-menu-item>Selected user</button>
      <button mat-menu-item>All new user</button>
    </mat-menu>
  </div>
  <div>
    <mat-form-field class="selectDisplay">
      <mat-label>Display</mat-label>
      <mat-select [formControl]="display" multiple [(ngModel)]="onDisplayList">
        <mat-select-trigger>
          {{display.value?.[0] || ''}}
          <span *ngIf="(display.value?.length || 0) > 1" class="example-additional-selection">
            (+{{(display.value?.length || 0) - 1}} {{display.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let item of displayList" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<hr />


<div>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
  </mat-form-field>
</div>
<section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

    <ng-container matColumnDef="account_number" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by account_number" matTooltip="Sort by #No" matTooltipPosition="above"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.account_number}} </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by balance" matTooltip="Sort by Balance" matTooltipPosition="above"> Balance </th>
      <td mat-cell *matCellDef="let element"> {{element.balance | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="firstname" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name" matTooltip="Sort by Name" matTooltipPosition="above"> Name </th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="element.account_number.toString()">{{element.firstname}} {{element.lastname}}</a></td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by age" matTooltip="Sort by Age" matTooltipPosition="above"> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender" matTooltip="Sort by Gender" matTooltipPosition="above"> Gender </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
          <mat-chip [ngStyle]="styleGender(element)" class="chipGender">
            {{element.gender | gender }}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</section>

<hr />
