table {
  font-family: 'Fauna One', serif;
  font-size: 16px;
  margin: 32px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h3 {
  text-align: center;
  font-family: 'Fauna One', serif;
}

div.dataTable {
  overflow: auto;
}

div.dataTable thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

div.ifNone {
  text-align: center;
  font-size: xx-large;
  color: blue;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
