@import url('https://fonts.googleapis.com/css?family=Cinzel|Fauna+One|Dancing+Script');
.item-dash {
  background-color: #f5f8fa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.item-dash:hover {
  box-shadow: 0 12px 24px 0 rgba(51, 181, 255, 0.33),
    0 18px 60px 0 rgba(51, 181, 255, 0.3);
  border-radius: 10px;
}

.dashboard {
  margin: 8px 0 50px;
}

h1,
h2,
h3 {
  font-family: Fauna One;
  color: royalblue;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.more:hover {
  text-decoration: underline;
  font-weight: bold;
}

h2 {
  margin-bottom: 25px;
}

.view-more {
  color: #9bdbef;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.view-more:hover {
  color: yellow;
  text-decoration: underline;
}

.profile-card-social__item:hover {
  color: white;
}
.instagram:hover {
  color: yellow;
}

.custom-hr {
  width: 80%;
  border: 5px outset royalblue;
  margin: auto;
}

.fake-content {
  position: absolute;
  left: 2.5%;
  font-size: 1px;
  background-color: #cbd5e0;
  max-width: 100%;
  opacity: 0.5;
  height: 100%;
  animation: fake 1.5s infinite;
}

.fake-img {
  position: absolute;
  font-size: 1px;
  border-radius: 5px;
  background-color: #cbd5e0;
  max-width: 95%;
  height: 100%;
  animation: fake 3.5s infinite;
}

.fake-title {
  font-size: 1px;
  border-radius: 5px;
  background-color: #cbd5e0;
  opacity: 0.5;
  max-width: 100%;
  height: 100%;
  animation: fake 2s infinite;
}

@keyframes fake {
  from {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

hr.custom-hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: royalblue;
  border-width: 3px 0 0 0;
  border-radius: 20px;
}
hr.custom-hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: '';
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.content {
  overflow: hidden; /* Hide scrollbars */
}

#user {
  background-color: #87a4fc;
  color: white;
}
.user-count {
  padding: 5px;
}
.user-number {
  cursor: default;
  font-size: min(5vw , 36px);
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.user-number:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.att-number {
  margin-top: 0;
  font-size: min(2.85vw, 20px);
  color: #bfcefa;
}

.card-title {
  margin-top: 1vh;
  h1 {
    font-size: min(5vw, 24px);
  }
}

.sub {
  margin-left: 1vw;
  font-size: min(2.5vw, 20px);
}

.user-active {
  width: 80%;
  height: 1vh;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: royalblue;
}

::ng-deep .mat-progress-bar-buffer {
  background: #e4e8eb;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.avatars {
  margin: auto;
  display: inline-block;
  width: 80%;
}

.avatar {
  position: relative;
  display: inline-block;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: min(70px, 12vw);
}

.avatar:hover {
  z-index: 5;
  border-radius: 50%;
  border: 3px solid royalblue;
  -webkit-animation: avatar-hover 1s;
  -moz-animation: avatar-hover 1s;
  animation: avatar-hover 1s;
}

@-webkit-keyframes avatar-hover {
  from {
    border: 3px solid royalblue;
    border-radius: 50%;
  }
  50% {
    border: 3px inset #87a4fc;
    border-radius: 25%;
  }
  to {
    border: 3px solid royalblue;
    border-radius: 50%;
  }
}
@-moz-keyframes avatar-hover {
  from {
    border: 3px solid royalblue;
    border-radius: 50%;
  }
  50% {
    border: 3px inset #87a4fc;
    border-radius: 25%;
  }
  to {
    border: 3px solid royalblue;
    border-radius: 50%;
  }
}
@keyframes avatar-hover {
  from {
    border: 3px solid royalblue;
    border-radius: 50%;
  }
  50% {
    border: 3px inset #87a4fc;
    border-radius: 25%;
  }
  to {
    border: 3px solid royalblue;
    border-radius: 50%;
  }
}

.avatar:not(:first-child) {
  margin-left: max(-35px, -7.5vw);
}

.avatar img {
  width: 100%;
  height: min(60px, 10vw);
  display: block;
}

.att-other {
  margin-top: 0;
  font-size: min(3vw, 20px);
  color: royalblue;
}
.user-other {
  font-size: min(3.5vw, 30px);
  color: cornflowerblue;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.user-other:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.fa {
  padding: 3px;
  padding-top: 5px;
  font-size: 22.5px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.dot {
  margin-left: min(30px, 2vw);
  font-size: min(30px, 5vw);
  color: royalblue;
}
.text {
  padding: 0 min(10px, 1vw);
  border-radius: 1px;
  font-size: min(16px, 2.5vw);
  line-height: 1vh;
  text-align: justify;
}

.container {
  max-width: 100%;
  padding: 0;
}

.sliders {
  position: relative;
  width: 100vw;
  height: 66vw;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

:host ::ng-deep .carousel-control-next {
  background: none;
  animation-name: reverse;
  animation-duration: 1s;
}
:host ::ng-deep .carousel-control-prev {
  background: none;
  animation-name: reverse;
  animation-duration: 1s;
}
:host ::ng-deep .carousel-control-prev:hover {
  animation: hoverArrow 2s infinite;
}
:host ::ng-deep .carousel-control-next:hover {
  animation: hoverArrow 2s infinite;
}

@keyframes hoverArrow {
  from {
    background: none;
  }
  50% {
    background: rgba(0, 0, 0, 0.7);
  }
  to {
    background: none;
  }
}
@keyframes reverse {
  from {
    background: rgba(0, 0, 0, 0.4);
  }
  to {
    background: none;
  }
}

.carousel-caption {
  left: 0;
  width: 100%;
  padding-top: 1vh;
  background: #778899;

  h3 {
    margin-bottom: 0;
  }
}
:host ::ng-deep .carousel-indicators {
  transform: translateY(-1.25vh);
}
.carousel-text {
  color: white;
  font-weight: bold;
  font-size: min(3vw, 18px);
}
.carousel-text-dark {
  color: #0f12d1;
  font-size: min(3vw, 18px);
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;

  &-social {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      display: inline-flex;
      width: 3vw;
      height: 3vw;
      margin: 0.75vw;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #405de6;
      box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
      position: relative;
      font-size: 21px;
      flex-shrink: 0;
      transition: all 0.3s;

      @media screen and (max-width: 768px) {
        width: 50px;
        height: 50px;
        margin: 10px;
      }

      @media screen and (min-width: 768px) {
        &:hover {
          transform: scale(1.2);
        }
      }

      &.facebook {
        background: linear-gradient(45deg, #3b5998, #0078d7);
        box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
      }

      &.twitter {
        background: linear-gradient(45deg, #1da1f2, #0e71c8);
        box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
      }

      &.instagram {
        background: linear-gradient(
          45deg,
          #405de6,
          #5851db,
          #833ab4,
          #c13584,
          #e1306c,
          #fd1d1d
        );
        box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
      }
    }

    .icon-font {
      display: inline-flex;
    }
  }

  &__button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 15px 35px;
    padding: 15px 40px;
    min-width: 201px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all 0.3s;

    @media screen and (max-width: 768px) {
      min-width: 170px;
      margin: 15px 25px;
    }

    @media screen and (max-width: 576px) {
      min-width: inherit;
      margin: 0;
      margin-bottom: 16px;
      width: 100%;
      max-width: 300px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:focus {
      outline: none !important;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        transform: translateY(-5px);
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.button--blue {
      background: linear-gradient(45deg, #1da1f2, #0e71c8);
      box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);

      &:hover {
        box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
      }
    }

    &.button--orange {
      background: linear-gradient(45deg, #d5135a, #f05924);
      box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);

      &:hover {
        box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
      }
    }

    &.button--gray {
      box-shadow: none;
      background: #dcdcdc;
      color: #142029;
    }
  }
}

:host ::ng-deep .apexcharts-legend {
  margin-left: 32px;
}

@media screen and (max-width: 1000px) {
  .avatars {
    width: 90%;
  }
}
