/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cinzel|Fauna+One');

h1 {
  font-family: 'Cinzel';
  text-align: center;
}

table {
  font-family: 'Fauna One', serif;
  font-size: 16px;
}
