
<div class="welcome">
  <div class="none"></div>
  <div class="showNext">
    <h1 class="title">Account Management</h1>
    <div class="navAM">
      <button class="btn-101" routerLink="account_management">
        Next
        <svg>
          <defs>
            <filter id="glow">
              <fegaussianblur result="coloredBlur" stddeviation="5"></fegaussianblur>
              <femerge>
                <femergenode in="coloredBlur"></femergenode>
                <femergenode in="coloredBlur"></femergenode>
                <femergenode in="coloredBlur"></femergenode>
                <femergenode in="SourceGraphic"></femergenode>
              </femerge>
            </filter>
          </defs>
          <rect />
        </svg>
      </button>
    </div>
  </div>
</div>
