<h1>Account Management</h1>
<h2 style="margin-left: 0; text-align:start;"><a href="#">Home</a> > <a>Statistics</a></h2>

<hr class="custom-hr"/>

<mat-tab-group class="tab" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_balance_wallet</mat-icon>
        <span style="margin-left: 10px;">Balance</span>
    </ng-template>
    <ng-template matTabContent>
      <div class="content">
        <h2>Balance</h2>
        <h3>Top 5 users with largest balance</h3>
        <div id="chart" style="padding-right: 10px;">
            <apx-chart
                [series]="chartOptions1.series"
                [chart]="chartOptions1.chart"
                [dataLabels]="chartOptions1.dataLabels"
                [plotOptions]="chartOptions1.plotOptions"
                [yaxis]="chartOptions1.yaxis"
                [xaxis]="chartOptions1.xaxis"
                [fill]="chartOptions1.fill"
                [title]="chartOptions1.title"
            ></apx-chart>
        </div>
        <h3>Table: Users with largest balance</h3>
        <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8" id="large-balance">

            <ng-container matColumnDef="account_number">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;" [ngStyle]="top(i)"> {{element.account_number}} </td>
            </ng-container>

            <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element; let i = index;" [ngStyle]="top(i)"> {{element.firstname}} {{element.lastname}} </td>
            </ng-container>

            <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let element; let i = index;" [ngStyle]="top(i)"> <b><span [countUpMoney]="element.balance" [duration]="2500"></span></b> </td>
            </ng-container>

            <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element; let i = index;" [ngStyle]="top(i)"> {{element.age}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip [ngStyle]="styleGender(element)" class="chipGender">
                        {{element.gender | gender }}
                    </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">access_time</mat-icon>
        <span style="margin-left: 10px;">Access</span>
    </ng-template>
    <ng-template matTabContent>
      <div class="content">
        <h2>Access Time</h2>
        <h3 style="margin-bottom: 0;">User's access time</h3>
        <div id="chart">
          <apx-chart
            [series]="chartDay.series"
            [chart]="chartDay.chart"
            [colors]="chartDay.colors"
            [yaxis]="chartDay.yaxis"
            [dataLabels]="commonOptions.dataLabels"
            [fill]="commonOptions.fill"
            [stroke]="commonOptions.stroke"
            [xaxis]="commonOptions.xaxis"
            [tooltip]="chartDay.tooltip"
            [legend]="chartDay.legend"
          ></apx-chart>
        </div>
        <h3>Access time: <em>(18:00 - 24/09/22 to 06:00 - 26/09/22)</em></h3>
        <apx-chart
          [series]="chartWeek.series"
          [chart]="chartWeek.chart"
          [colors]="chartWeek.colors"
          [legend]="chartWeek.legend"
          [dataLabels]="commonOptions.dataLabels"
          [fill]="commonOptions.fill"
          [stroke]="commonOptions.stroke"
          [xaxis]="commonOptions.xaxis"
          (click)="reset()"
        ></apx-chart>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">accessibility_new</mat-icon>
        <span style="margin-left: 10px;">Age</span>
    </ng-template>
    <ng-template matTabContent>
      <div class="content">
        <h2>Age</h2>
        <h3 style="margin-bottom: 0;">User age distribution</h3>
        <div id="chart" style="margin-top: -5px;">
          <apx-chart
            [series]="chartOptions3.series"
            [chart]="chartOptions3.chart"
            [dataLabels]="chartOptions3.dataLabels"
            [stroke]="chartOptions3.stroke"
            [colors]="chartOptions3.colors"
            [title]="chartOptions3.title"
            [grid]="chartOptions3.grid"
            [tooltip]="chartOptions3.tooltip"
            [plotOptions]="chartOptions3.plotOptions"
            [yaxis]="chartOptions3.yaxis"
            [xaxis]="chartOptions3.xaxis"
            [legend]="chartOptions3.legend"
          ></apx-chart>
        </div>
        <h3>User age analystics</h3>
        <table class="table table-bodered" style="color: #787a81;">
          <thead>
            <tr>
              <th rowspan="2" id="gender">Gender</th>
              <th colspan="2" style="text-align: center;">Male</th>
              <th colspan="2" style="text-align: center;">Female</th>
            </tr>
            <tr>
              <th>Least</th>
              <th>Most</th>
              <th>Least</th>
              <th>Most</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Age</th>
              <td>27</td>
              <td>31</td>
              <td>29</td>
              <td>39</td>
            </tr>
            <tr>
              <th>People</th>
              <td>18</td>
              <td>35</td>
              <td>12</td>
              <td>38</td>
            </tr>
            <tr>
              <th>Percent</th>
              <td>3.5503%</td>
              <td>6.9034%</td>
              <td>2.4321%</td>
              <td>7.7079%</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <td>507</td>
              <td>50.7%</td>
              <td>493</td>
              <td>49.3%</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
