<h1>Account Management</h1>
<h2><a href="#">Home</a> > <a>Statistics</a></h2>

<hr class="custom-hr"/>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_balance_wallet</mat-icon>
        <span style="margin-left: 10px;">Balance</span>
    </ng-template>
    <div class="content">
        Top users has most balance
        <div>Huy chuong</div>
        <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

            <ng-container matColumnDef="account_number">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.account_number}} </td>
            </ng-container>
        
            <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
            </ng-container>
        
            <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.balance | currency}} </td>
            </ng-container>
        
            <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip [ngStyle]="styleGender(element)" class="chipGender">
                        {{element.gender | gender }}
                    </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">timelapse</mat-icon>
        <span style="margin-left: 10px;">Most active</span>
    </ng-template>
    <div class="content">
        Mostly active users
        <div>Huy chuong</div>
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

            <ng-container matColumnDef="account_number">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.account_number}} </td>
            </ng-container>
        
            <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
            </ng-container>
        
            <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.balance | currency}} </td>
            </ng-container>
        
            <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip [ngStyle]="styleGender(element)" class="chipGender">
                        {{element.gender | gender }}
                    </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">accessibility_new</mat-icon>
        <span style="margin-left: 10px;">Age</span>
    </ng-template>
    <div class="content">
        Oldest users / Youngest users
        <div>Huy chuong</div>
        <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

            <ng-container matColumnDef="account_number">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.account_number}} </td>
            </ng-container>
        
            <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
            </ng-container>
        
            <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.balance | currency}} </td>
            </ng-container>
        
            <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip [ngStyle]="styleGender(element)" class="chipGender">
                        {{element.gender | gender }}
                    </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
  </mat-tab>
</mat-tab-group>